@import "tailwindcss";
@import "tailwindcss/theme";

@theme {
  --font-sans: Roboto, ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  --font-montserrat: "Montserrat", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    font-family: var(--font-serif);
  }
  h1 {
    font-family: var(--font-montserrat);
    font-size: var(--text-4xl);
    text-align: center;
    text-transform: uppercase;
    padding-block: 72px;
    padding-inline: 72px;
    hyphens: auto;
  }
  h2 {
    font-family: var(--font-montserrat);
    font-size: var(--text-4xl);
    text-transform: uppercase;
    padding-block: 18px;
    padding-inline: 72px;
    hyphens: auto;
  }
  h3 {
    text-align: end;
    padding-right: 72px;
    hyphens: auto;
  }
  p {
    padding-inline: 72px;
    padding-block: 12px;
    line-height: 1.6;
    font-size: var(--text-lg);
    hyphens: auto;
  }
  blockquote {
    border-left: 4px solid #d9d9d9;
    padding-block: 0;
    margin-block: 24px;
    margin-left: 40px;
    padding-right: 72px;
  }
  blockquote p{
    padding-block: 0;
    padding-left: 28px;
  }
  a {
    color: rgb(16, 176, 184);
    font-weight: 700;
    font-style: italic;
    text-decoration-line: underline;
    text-decoration-color: var(--color-gray-500);
    text-underline-offset: 6px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-block: 16px;
    width: auto;
  }
}
