<div class="p-6 border-t border-[#d9d9d9] w-full bg-white ">
        <a class="text-xs font-serif font-normal no-underline text-black not-italic hover:text-[rgb(16,176,184)] uppercase" href="/">Operated by the HOB IOCP 2021 2046</a>
    </div>
</div>