---
import Navigation from "./Navigation.astro"
---
<div class="p-6 border-b border-[#d9d9d9] fixed w-full bg-white ">
    <div class="flex">
        <div class="mr-auto">
            <a class="text-xl font-normal font-montserrat no-underline text-black not-italic hover:text-[rgb(16,176,184)] uppercase" href="/">Home Of Bohemian – the HOB I.O.C.P.</a>
            <div class="text-xs font-serif text-[rgb(0,0,0.6)] flex items-center">the Human Operation Base – Industrial Open Cooperative Platform – h+ home of Transcendence & TransHumanism</div>
        </div>
        <Navigation />
    </div>
</div>